@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* 共通スタイル
------------------------------------------ */
.container {
  width: calc(100vw - 3.2rem);
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-sp {
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: calc(100vw - 23.2rem);
    max-width: 116.8rem;
  }

  .flex {
    flex-direction: row;
  }

  .no-sp {
    display: block;
  }

  .no-pc {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1299px) {
  .container {
    width: calc(100vw - 21.42vw);
  }

}


/* ヘッダー
------------------------------------------ */
.header {
  width: 100%;
  height: 11.4rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__container.flex {
  justify-content: space-between;
}

.header__container h1 {
  width: 26.2rem;
  line-height: 1;
}

.hamburger__button {
  display: none;
}

.hamburger__menu {
  width: 26.2rem;
}

.header__nav.container {
  width: 100%;
}

.header__nav--list.flex {
  justify-content: space-between;
}

.nav__list--item a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

.list__item--2 {
  padding-left: .1rem;
  padding-bottom: .2rem;
}

.list__item--3 {
  padding-left: .2rem;
  padding-bottom: .2rem;
}

.here a {
  color: #168352;
}

@media (max-width: 767px) {
  .header {
    height: 6.3rem;
  }

  .header__container.flex {
    flex-direction: row;
  }

  .header__container h1 {
    width: 19.6rem;
  }

  .hamburger__button.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.4rem;
    height: 1.8rem;
  }

  .hamburger__button--bar {
    width: 100%;
    height: .2rem;
    background-color: #000;
  }

  .hamburger__menu {
    width: calc(100vw - 3.2rem);
    height: 21rem;
    background-color: #168352;
    padding-top: 3.8rem;
    padding-bottom: 4rem;
    border-radius: 2.4rem;
    position: fixed;
    top: 6.3rem;
    left: 100%;
    transition: all .3s;
    visibility: hidden;
  }

  .hamburger__menu--active {
    left: 1.6rem;
    visibility: visible;
  }

  .header__nav--list.flex {
    flex-direction: column;
    row-gap: 3.9rem;
  }

  .nav__list--item a {
    font-size: 1.8rem;
    color: #fff;
  }

  .list__item--1 {
    padding-right: .6rem;
  }

  .list__item--2 {
    padding-left: .3rem;
    padding-bottom: 0;
  }

  .list__item--3 {
    padding-left: 0;
    padding-bottom: 0;
  }

}


/*フッター
------------------------------------------ */
.footer {
  width: 100%;
  height: 6.8rem;
  background-color: #168352;
}

.footer__nav--list {
  width: 21.6rem;
  height: 1.4rem;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.footer__nav--list::after {
  content: "";
  width: .1rem;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  transform: translateY(50%);
  top: -90%;
  left: 50%;
}

.footer__nav--list li {
  margin-bottom: .2rem;
}

.footer__nav--list li:nth-child(1) {
  letter-spacing: .025rem;
}

.footer__nav--list li a {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .footer {
    width: 100%;
    height: 9.6rem;
  }

  .footer__nav--list {
    width: 24.4rem;
  }

  .footer__nav--list::after {
    height: 2.4rem;
    top: -119%;
    left: 51.7%;
  }

  .footer__nav--list li:nth-child(1) {
    letter-spacing: .25rem;
  }

  .footer__nav--list li:nth-child(2) {
    letter-spacing: .07rem;
  }
}

/*メインビジュアル
------------------------------------------ */
.cover__main_visual.container.flex {
  align-items: flex-start;
  width: 39rem;
  padding: 0 1.6rem;
  margin-top: 8.3rem;
  position: relative;
}

.cover__main_visual img {
  margin-bottom: 2.9rem;
}

.cover__main_visual--text {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .02rem;
  margin-bottom: 4.5rem;
}

.cover__main_visual--breadcrumb {
  flex-direction: row;
  column-gap: .4rem;
  font-size: 1.2rem;
  position: absolute;
  transform: translateX(100%);
  right: 39.5%;
  bottom: 0;
  z-index: 1;
}

.main_visual__breadcrumb--item a {
  color: #000;
}

.main_visual__breadcrumb--item+.main_visual__breadcrumb--item::before {
  font-family: "bootstrap-icons";
  content: "\F285";
  font-size: 1.2rem;
  padding-right: .5rem;
  vertical-align: -.1rem;
}

@media (min-width: 768px) {
  .cover__main_visual.container.flex {
    width: calc(100vw - 20rem);
    max-width: 120rem;
    padding: 0;
    margin-top: 15.4rem;
  }

  .cover__main_visual img {
    width: 100%;
    margin-bottom: 3.6rem;
    position: relative;
  }

  .cover__main_visual--text {
    width: 32.7rem;
    height: 11.3rem;
    border-top-right-radius: 4rem;
    background-color: #fff;
    font-size: 3.6rem;
    text-align: center;
    padding-top: 3.6rem;
    padding-left: .5rem;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 3.6rem;
    z-index: 1;
  }

  .cover__main_visual--breadcrumb {
    right: 14rem;
  }

  .main_visual__breadcrumb--item+.main_visual__breadcrumb--item::before {
    padding-right: .5rem;
    vertical-align: -.1rem;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .cover__main_visual--text {
    width: 27.25vw;
    height: 9.41vw;
    font-size: 3vw;
    padding-top: 3vw;
    padding-left: .416vw;
    bottom: 3vw;
  }

}



/* TOP PAGE */
/*共通スタイル
------------------------------------------ */
.section__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: .9;
  margin-bottom: 2.5rem;
}

.section__title--english {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #168352;
  margin-bottom: 1rem;
}

.features__container .section__title--english,
.news__container .section__title--english {
  margin-bottom: .9rem;
}

.section__title--japanese {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .section__title {
    line-height: 1.6;
    margin-bottom: 3.7rem;
  }

  .features__container .section__title {
    margin-bottom: 2.4rem;
  }

  .products__container .section__title {
    margin-bottom: 2.5rem;
  }

  .case__container .section__title {
    margin-bottom: 2.3rem;
  }

  .news__container .section__title {
    margin-bottom: 2.4rem;
  }

  .section__title--english {
    font-size: 2rem;
    margin-bottom: .1rem;
  }

  .features__container .section__title--english {
    margin-bottom: .2rem;
  }

  .products__container .section__title--english {
    margin-bottom: .4rem;
  }

  .news__container .section__title--english {
    margin-bottom: .1rem;
  }

  .section__title--japanese {
    font-size: 2.8rem;
  }

}



/*cover
------------------------------------------ */
.cover {
  margin-top: 8.2rem;
  margin-bottom: 5.6rem;
}

.cover__text.flex {
  align-items: flex-start;
}

.cover__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.55rem;
}

.cover p {
  width: 35.8rem;
  font-size: 1.5rem;
  line-height: 1.775;
  margin-bottom: 2.5rem;
  line-break: anywhere;
}

@media (min-width: 768px) {
  .cover.flex {
    flex-direction: column;
    margin-top: 16.2rem;
  }

  .cover__text.flex {
    justify-content: space-between;
    width: calc(100vw - 30rem);
    max-width: 110rem;
    margin-bottom: 5.7rem;
  }

  .cover__title {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: .4rem;
  }

  .cover p {
    width: 53rem;
    margin-bottom: 0;
  }

}

@media (min-width: 768px) and (max-width: 1299px) {
  .cover__text.flex {
    width: calc(100vw - 21.42vw);
  }

  .cover__title {
    font-size: 2.85vw;
  }

  .cover p {
    width: 37.85vw;
  }

}

/*About Us
------------------------------------------ */
.about_us__content.flex {
  align-items: flex-start;
  width: 100%;
  height: 54.5rem;
  background-image: url(../image/top_about_us_sp.png);
  background-size: cover;
  background-position: center;
  padding: 3.2rem 1.6rem;
}

.about_us__content--text.flex {
  align-items: flex-start;
  justify-content: inherit;
  width: 35.8rem;
  border-radius: 3.2rem;
  background-color: rgba(255, 255, 255, .8);
  padding: 1.5rem 2.4rem 1.8rem;
  color: #111;
  margin: 0 auto;
}

.about_us__text {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: .7rem;
  letter-spacing: .01rem;
}

.about_us__content--text p {
  font-size: 1.5rem;
  line-height: 1.75;
  width: 30rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .about_us__container.flex {
    flex-direction: column;
    margin-bottom: 7.6rem;
  }

  .about_us__content.flex {
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 43.2rem);
    max-width: 96.8rem;
    aspect-ratio: inherit;
    background-image: none;
    padding: 0;
  }

  .about_us__content--text.flex {
    flex-direction: column;
    width: 45rem;
    padding: 0;
    margin: -.3rem 0 0;
  }

  .about_us__text {
    font-size: 2rem;
    line-height: 1.75;
    margin-bottom: 2.5rem;
  }

  .about_us__text--1 {
    width: 38rem;
  }

  .about_us__content--text p {
    width: 40.5rem;
    text-align: inherit;
  }


  .about_us__content img {
    width: 39rem;
    margin-right: 1.4rem;
  }

}

@media (min-width: 768px) and (max-width: 1299px) {
  .about_us__content.flex {
    width: calc(100vw - 30.85vw);
  }

  .about_us__content--text.flex {
    width: 32.14vw;
  }

  .about_us__text {
    font-size: 1.38vw;
  }

  .about_us__text--1 {
    width: 26.24vw;
  }

  .about_us__content--text p {
    width: 28.92vw;
  }


  .about_us__content img {
    width: 39rem;
    margin-right: .01vw;
  }

}

@media (min-width: 768px) and (max-width: 1170px) {
  .about_us__text {
    font-size: 1.4rem;
  }

  .about_us__text--1 {
    width: 32.14vw;
  }

  .about_us__content--text p {
    font-size: 1.4rem;
    width: 32.14vw;
  }

  .about_us__content img {
    width: 33.33vw;
  }

}

/*Features
------------------------------------------ */
.features {
  width: 100%;
  background-color: #f3f9f6;
}

.features__container {
  padding-top: 5.5rem;
  padding-bottom: 3.5rem;
}

.features__content--item {
  width: 35.8rem;
  border-radius: 2.4rem;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2.5px rgba(0, 0, 0, 0.05);
}

.features__content--item img {
  width: 100%;
  height: 20.1rem;
  object-fit: cover;
  object-position: center;
}

.features__item--text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
  padding: 1.4rem 1.6rem 1.7rem;
}

@media (min-width: 768px) {
  .features__container {
    padding-top: 5.5rem;
    padding-bottom: 6.5rem;
  }

  .features__content.flex {
    justify-content: space-between;
    column-gap: 2.14vw;
  }

  .features__content--item {
    width: 26.35vw;
    max-width: 36.9rem;
    margin-bottom: 0;
  }

  .features__content--item img {
    width: 100%;
    height: 22.6rem;
  }

  .features__item--text {
    font-size: 1.9rem;
    padding: 1.4rem 2rem 1.8rem;
  }

}

@media (min-width: 768px) and (max-width: 1399px) {
  .features__content--item img {
    height: 16.14vw;
  }

  .features__item--text {
    font-size: 1.35vw;
  }

}

@media (min-width: 768px) and (max-width: 1040px) {
  .features__item--text {
    font-size: 1.4rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .features__item--text {
    height: 9.92rem;
  }

}


/*Products
------------------------------------------ */
.products__container {
  padding-top: 5.5rem;
  padding-bottom: 1.6rem;
}

.products__content--container {
  width: 35.8rem;
  margin-bottom: 2rem;
}

.products__container--1 {
  margin-bottom: .1rem;
}

.products__content--item.flex {
  flex-direction: row;
  width: 100%;
  height: 14rem;
  border-radius: 2.4rem;
  background-color: #168352;
  margin-bottom: 2rem;
  transition: .3s;
}

.products__content--item:hover {
  background-color: #dffaec;
}

.products__content--item img {
  width: 10rem;
  margin-right: 1.6rem;
}

.products__item--text {
  width: 17.9rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8;
  color: #fff;
  margin-right: 1.5rem;
  position: relative;
}

.products__content--item:hover .products__item--text {
  color: #168352;
}

.products__item--1 .products__item--text {
  letter-spacing: .02rem;
}

.products__item--2 .products__item--text span {
  display: flex;
  flex-direction: column;
  letter-spacing: .01rem;
}

.products__item--3 .products__item--text {
  width: 18.1rem;
  letter-spacing: .025rem;
  margin-bottom: .8rem;
  margin-right: 1.4rem;
}

.products__item--4 .products__item--text {
  width: 18.1rem;
  letter-spacing: .025rem;
  margin-right: 1.4rem;
  margin-bottom: .4rem;
}

.products__item--5 .products__item--text {
  width: 18.2rem;
  margin-right: 1.3rem;
  margin-bottom: .5rem;
}

.products__text--hover_off,
.products__text--hover_on {
  position: absolute;
}

.products__text--hover_off {
  top: 0;
}

.products__text--hover_on {
  top: 2rem;
  color: transparent;
}

.products__content--item:hover .products__text--hover_off {
  color: transparent;
}

.products__content--item:hover .products__text--hover_on {
  color: #168352;
}


@media (min-width: 768px) {
  .products__container {
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;
  }

  .products__content.flex {
    flex-direction: column;
  }

  .products__content--container.flex {
    justify-content: space-between;
    width: 78.42vw;
    max-width: 109.8rem;
    column-gap: 3.57vw;
    margin-bottom: 4rem;
  }

  .products__content--item.flex {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .products__container--1 .products__content--item.flex {
    width: 52.5rem;
    height: 18rem;
    padding: 0 3rem;
  }

  .products__container--1 .products__content--item img {
    width: 13.4rem;
    margin-right: 2.9rem;
  }

  .products__container--1 .products__item--text {
    width: 21.8rem;
    height: 8.8rem;
    font-size: 2.4rem;
    margin-right: 0;
  }

  .products__container--2 .products__content--item img {
    margin-right: 2.8rem;
  }

  .products__item--2 .products__item--text {
    margin-right: 0;
  }

  .products__container--2 .products__content--item.flex {
    width: 33.3rem;
    height: 15rem;
    padding-left: 2.3rem;
  }

  .products__container--2 .products__content--item img {
    width: 11rem;
    margin-right: 1.9rem;
  }

  .products__container--2 .products__item--text {
    width: 14.2rem;
    height: 7rem;
    font-size: 2rem;
  }

  .products__item--3 .products__item--text {
    margin-right: 1.6rem;
  }

  .products__item--5 .products__item--text {
    margin-bottom: .2rem;
  }


}

@media (min-width: 768px) and (max-width: 1301px) {
  .products__container--2 .products__content--item img {
    width: 8.44vw;
    margin-right: 1.45vw;
  }

  .products__container--2 .products__item--text {
    width: 10.14vw;
    font-size: 1.42vw;
  }

}

@media (min-width: 768px) and (max-width: 1112px) {
  .products__container--1 .products__content--item.flex {
    padding: 0 1.6rem;
  }

  .products__container--1 .products__content--item img {
    width: 12.03vw;
    margin-right: 2.6vw;
  }

  .products__container--1 .products__item--text {
    font-size: 2.15vw;
  }

}

/*Case
------------------------------------------ */
.case {
  width: 100%;
  background-color: #f3f9f6;
}

.case__container {
  padding-top: 5.5rem;
  padding-bottom: 2.4rem;
}

.case__content--item.flex {
  align-items: flex-start;
  width: 35.8rem;
  margin-bottom: 2.7rem;
  opacity: 1;
  transition: .3s;
}

.case__content--item .case__item--2 {
  margin-bottom: 7rem;
}

.case__content--item:hover {
  opacity: .5;
}

.case__content--item img {
  width: 100%;
  height: 20.1rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2.4rem;
  margin-bottom: .8rem;
}

.case__content--item .case__item--2 img {
  margin-bottom: .8rem;
}

.case__item--text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.7;
  color: #09947b;
}

@media (min-width: 768px) {
  .case__container {
    padding-top: 5.5rem;
    padding-bottom: 7.5rem;
  }

  .case__content.flex {
    justify-content: space-between;
    column-gap: 2.14vw;
  }

  .case__content--item.flex {
    flex-direction: column;
    width: 26.35vw;
    max-width: 36.9rem;
    margin-bottom: 0;
  }

  .case__content--item .case__item--2 {
    margin-bottom: 0;
  }


  .case__content--item img {
    width: 100%;
    height: 22.6rem;
    margin-bottom: .9rem;
  }

  .case__item--text {
    font-size: 1.9rem;
    height: 5rem;
  }

}

@media (min-width: 768px) and (max-width: 1399px) {
  .case__content--item img {
    height: 16.14vw;
  }

  .case__item--text {
    font-size: 1.35vw;
  }

}

@media (min-width: 768px) and (max-width: 1040px) {
  .case__item--text {
    font-size: 1.4rem;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .case__item--text {
    height: 9.92rem;
  }

}

/*News
------------------------------------------ */
.news__container {
  padding-top: 5.5rem;
  padding-bottom: 5.85rem;
}

.news__list {
  border-top: 2px solid #ddd;
  margin-bottom: 2.5rem;
}

.news__list--item {
  padding: 1.5rem 0 1rem;
  border-bottom: 2px solid #ddd;
}

.news__item--container1 {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.news__list--item:nth-child(2),
.news__list--item:nth-child(4),
.news__list--item:nth-child(6) {
  padding-top: 1.6rem;
}

.news__item--date {
  font-size: 1.5rem;
  color: #222;
  margin-right: 1.7rem;
  margin-bottom: .4rem;
}

.news__item--badge {
  width: 13.4rem;
  height: 2.8rem;
  background-color: #473221;
  border-radius: .4rem;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  padding: .8rem .5rem;
}

.news__item--text {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75;
  color: #09947b;
}

.news__button {
  width: 30rem;
  height: 6.6rem;
  background-color: #09947b;
  border-radius: 3.3rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 2.3rem 0;
  margin-bottom: .25rem;
  box-shadow: 0px 5px 0px 0px rgba(6, 102, 85, 1);
}

.news__button:hover {
  margin-top: .25rem;
  margin-bottom: -.05rem;
  box-shadow: 0px 2.5px 0px 0px rgba(6, 102, 85, 1);
}

@media (min-width: 768px) {
  .news__container {
    padding-bottom: 5.85rem;
    margin: 0 auto;
  }

  .news__content.container.flex {
    flex-direction: column;
    width: 90rem;
  }

  .news__list {
    width: 100%;
    margin-bottom: 3.4rem;
  }

  .news__list--item {
    display: flex;
    padding: 1.6rem 0 .8rem;
  }

  .news__item--container1 {
    flex-direction: row;
    margin-right: 2.4rem;
    margin-bottom: .7rem;
  }

  .news__item--date {
    font-size: 1.4rem;
    margin-right: 1.9rem;
    margin-bottom: .1rem;
  }

  .news__item--text {
    display: flex;
  }

  .news__button {
    margin-bottom: .75rem;
  }

  .news__button:hover {
    margin-top: .05rem;
    margin-bottom: .75rem;
  }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .news__content.container.flex {
    width: 81vw;
  }

}

@media (min-width: 768px) and (max-width: 949px) {
  .news__item--container1 {
    margin-right: 2.52vw;
  }

  .news__item---date {
    margin-right: 2vw;
  }

  .news__item--text {
    font-size: 1.57vw;
  }

}



/* 価格・スペック */
/*共通パーツ
------------------------------------------ */
.price__container {
  width: 35.8rem;
  margin: 0 auto;
}

.price__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2;
  border-bottom: 3px solid #ddd;
  margin-bottom: 2.4rem;
  position: relative;
}

.price__price--container .price__title {
  margin-bottom: 2.1rem;
}

.price__title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #168352;
  width: 5rem;
  position: absolute;
}

@media (min-width: 768px) {
  .price__container {
    width: 80rem;
  }

  .price__title {
    font-size: 2.8rem;
    line-height: 2.8;
    border-bottom: 5px solid #ddd;
    margin-bottom: 3.2rem;
  }

  .price__price--container .price__title {
    margin-bottom: 2.8rem;
  }

  .price__spec--container .price__title {
    margin-bottom: 3.2rem;
  }

  .price__title::after {
    border-bottom: 5px solid #168352;
    width: 10rem;
  }

}

@media (min-width: 768px) and (max-width: 999px) {
  .price__container {
    width: 80vw;
  }

}

/*ギャラリー
------------------------------------------ */
.price__gallery--container {
  margin-top: 2.4rem;
  margin-bottom: 4.7rem;
}

.swiper {
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.swiper__item {
  width: 100%;
  height: 23.7rem;
  border-radius: 2.4rem;
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: .9rem;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: .8rem;
  height: .8rem;
  margin-left: .3rem;
  margin-right: .3rem;
  background: #eee;
  cursor: pointer;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #168352;
}

@media (min-width: 768px) {
  .price__gallery--container {
    margin-top: 3.7rem;
    margin-bottom: 4.3rem;
  }

  .swiper__item {
    width: 100%;
    height: 50rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 2.2rem;
  }

}

/*特長
------------------------------------------ */
.price__feature--container {
  margin-bottom: .8rem;
}

.price-feature__content--item.flex {
  align-items: flex-start;
  margin-bottom: 3.4rem;
}

.price-feature__content--item .price-feature__item--2 {
  margin-bottom: 3.3rem;
}

.price-feature__content--item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.6rem;
  margin-bottom: .8rem;
}

.price-feature__item--text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.75;
  line-break: anywhere;
}

.price-feature__item--3 .price-feature__item--text {
  letter-spacing: .01rem;
}


@media (min-width: 768px) {
  .price__feature--container {
    margin-bottom: 4.4rem;
  }

  .price-feature__content.flex {
    justify-content: space-between;
  }

  .price-feature__content--item.flex {
    flex-direction: column;
    width: 26.35vw;
    max-width: 24.6rem;
    margin-bottom: 0;
  }

  .price-feature__content--item img {
    width: 100%;
    height: 15rem;
    margin-bottom: .8rem;
  }

  .price-feature__item--text {
    height: 15rem;
  }

}

@media (min-width: 768px) and (max-width: 999px) {
  .price-feature__content.flex {
    column-gap: 3vw;
  }

  .price-feature__content--item.flex {
    width: 24.6vw;
  }

  .price-feature__content--item img {
    height: 15vw;
  }

  .price-feature__item--text {
    font-size: 1.8vw;
  }

}


/*価格
------------------------------------------ */
.price__price--container {
  margin-bottom: 4.8rem;
}

.price__price--text {
  color: #168352;
}

.price__text--amount {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}

.price__text--tax {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

@media (min-width: 768px) {
  .price__price--container {
    margin-bottom: 4.5rem;
  }

}


/*スペック
------------------------------------------ */
.price__spec--container {
  margin-bottom: 6.5rem;
}

.price__spec--name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  height: 3rem;
  border-left: 2px solid #168352;
  padding-left: 1.7rem;
  margin-bottom: 1.7rem;
}

.spec__content--item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spec__item--title,
.spec__item--text {
  font-size: 1.6rem;
  width: 100%;
  height: 3.9rem;
  border: 1px solid #ddd;
  padding-top: 1rem;
  padding-left: 1.85rem;
}

.spec__item--title {
  font-weight: 700;
  background-color: #f5f5f5;

}

.spec__item--text {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .price__spec--container {
    margin-bottom: 7.1rem;
  }

  .price__spec--name {
    font-size: 2.4rem;
    height: 4rem;
    border-left: 3px solid #168352;
    margin-bottom: 2.4rem;
    margin-left: 3rem;
  }

  .price__spec--content {
    margin-left: 3rem;
  }

  .spec__content--item {
    flex-direction: row;
    width: 74rem;
  }

  .spec__item--title,
  .spec__item--text {
    height: 6.3rem;
    padding-top: 2.2rem;
  }

  .spec__item--title {
    width: 20rem;
    padding-left: 1.9rem;

  }

  .spec__item--text {
    width: 54rem;
    padding-left: 2.2rem;
  }

  .spec__item--8 .spec__item--title,
  .spec__item--8 .spec__item--text {
    padding-top: 2rem;
  }

}

@media (min-width: 768px) and (max-width: 999px) {
  .spec__content--item {
    width: calc(100% - 6rem);
  }

  .spec__item--text {
    width: 100%;
  }

}

/*お問い合わせ
------------------------------------------ */
.price__contact--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 36rem;
  background-image: url(../image/spec_contact_sp.png);
  background-size: cover;
  background-position: center;
}

.button__contact {
  width: 35.8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 2px solid #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 2.9rem;
  transition: .3s;
}

.button__contact:hover {
  background-color: #fff;
  color: #168352;
}

@media (min-width: 768px) {
  .price__contact--container {
    height: 45rem;
    background-image: url(../image/spec_contact_pc.png);
  }

}



/* FAQ */
/*
------------------------------------------ */
.faq.container {
  max-width: 35.8rem;
  margin-top: 3.9rem;
  margin-bottom: 16.6rem;
}

.accordion.flex {
  flex-direction: column;
  row-gap: 2rem;
}

.accordion__item {
  width: 100%;
  padding: 2.3rem 2.3rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 1.6rem;
  transition: .3s;
  position: relative;
}

.accordion__item.open {
  margin-bottom: .4rem;
}

.accordion__item--question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: .2rem;
}

.accordion__item--question::after {
  font-family: "bootstrap-icons";
  content: "\F4FE";
  font-size: 4rem;
  position: absolute;
  top: 1.6rem;
  right: 1.3rem;
  z-index: 1;
}

.accordion__item--question.open::after {
  content: '\F2EA';
}

.question__title--top {
  display: flex;
  align-items: center;
}

.question__title--Q {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #168352;
  margin-right: 1.6rem;
  margin-top: -.2rem;
}

.question__title--badge {
  width: 10rem;
  height: 2.4rem;
  border-radius: .4rem;
  border: #168352 solid 1px;
  font-size: 1.1rem;
  color: #168352;
  text-align: center;
  padding: .5rem 0;
  margin-right: .8rem;
}

.question__title--text {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: .01rem;
  line-break: anywhere;
  width: 23.1rem;
  padding-left: .2rem;
  margin: 0 auto;
}

.accordion__item--answer {
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: .01rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  line-break: anywhere;
}


.accordion__item--4 .accordion__item--question,
.accordion__item--5 .accordion__item--question,
.accordion__item--6 .accordion__item--question,
.accordion__item--7 .accordion__item--question,
.accordion__item--8 .accordion__item--question,
.accordion__item--10 .accordion__item--question,
.accordion__item--11 .accordion__item--question {
  margin-bottom: .3rem;
}

.accordion__item--4 .accordion__item--answer,
.accordion__item--5 .accordion__item--answer,
.accordion__item--6 .accordion__item--answer,
.accordion__item--7 .accordion__item--answer,
.accordion__item--8 .accordion__item--answer,
.accordion__item--9 .accordion__item--answer,
.accordion__item--10 .accordion__item--answer,
.accordion__item--11 .accordion__item--answer {
  margin-left: .2rem;
  margin-top: -.1rem;
}

.accordion__item--5 .accordion__item--answer {
  margin-top: -.3rem;
}

.accordion__item--11 .accordion__item--answer {
  margin-top: 1rem;
}

.accordion__item--7 .accordion__item--answer,
.accordion__item--8 .accordion__item--answer {
  margin-bottom: .3rem;
}

.accordion__item--7 .accordion__item--answer {
  letter-spacing: .001rem;
}

@media (min-width: 768px) {
  .faq.container {
    max-width: 80rem;
    margin-top: 6.2rem;
    margin-bottom: 7.2rem;
  }

  .accordion.flex {
    flex-direction: column;
    row-gap: 2.4rem;
  }

  .accordion__item {
    padding: 2.3rem 3.2rem 1.5rem;
  }

  .accordion__item.open {
    margin-bottom: 0;
  }


  .accordion__item--question {
    margin-bottom: .1rem;
  }

  .accordion__item--question::after {
    right: 2.1rem;
  }

  .question__title--Q {
    margin-right: 1.5rem;
    margin-left: -.1rem;
    margin-top: -.6rem;
  }

  .question__title--text {
    font-size: 1.8rem;
    width: 67.5rem;
    padding-left: 1rem;
    margin-top: .8rem;
  }

  .accordion__item--answer {
    letter-spacing: 0;
    margin-top: 1.7rem;
    margin-bottom: .3rem;
  }

  .accordion__item--5 .accordion__item--question {
    margin-bottom: 0;
  }

  .accordion__item--7 .accordion__item--question,
  .accordion__item--11 .accordion__item--question {
    margin-bottom: .1rem;
  }

  .accordion__item--2 .accordion__item--question,
  .accordion__item--4 .accordion__item--question,
  .accordion__item--6 .accordion__item--question,
  .accordion__item--8 .accordion__item--question,
  .accordion__item--10 .accordion__item--question {
    margin-bottom: .2rem;
  }



  .accordion__item--4 .accordion__item--answer,
  .accordion__item--5 .accordion__item--answer,
  .accordion__item--6 .accordion__item--answer,
  .accordion__item--7 .accordion__item--answer,
  .accordion__item--8 .accordion__item--answer,
  .accordion__item--9 .accordion__item--answer,
  .accordion__item--10 .accordion__item--answer,
  .accordion__item--11 .accordion__item--answer {
    margin-left: 0;
  }

  .accordion__item--5 .accordion__item--answer {
    margin-top: 1.5rem;
  }

  .accordion__item--3 .accordion__item--answer,
  .accordion__item--9 .accordion__item--answer,
  .accordion__item--11 .accordion__item--answer {
    margin-top: 1.6rem;
  }

  .accordion__item--4 .accordion__item--answer,
  .accordion__item--6 .accordion__item--answer,
  .accordion__item--7 .accordion__item--answer,
  .accordion__item--8 .accordion__item--answer,
  .accordion__item--10 .accordion__item--answer {
    margin-top: 1.7rem;
  }

  .accordion__item--7 .accordion__item--answer {
    margin-bottom: .2rem;
  }

}